.ScreeningItem {
    border: 4px;
    border-color: greenyellow;
    margin: 5px;
    grid-row: 4 span;
    grid-column:  3 span;
    max-width: 4 span;
    max-height:4 span;
    border-style: dashed;	
}
.ScreeningItem *{
    margin: 5px;
}
.ScreeningItem > img{
    object-fit:contain;
}
